body {
  background: #f7f7f9;
}

.container {
  margin-top: 50px;
  padding: 50px;
  background: #fff;
  position: relative;
}

.rule-result {
  line-height: 34px;
}

.buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rule.template {
  display: none;
}

.rule + .rule {
  margin: 10px 0;
}

.analyse-result {
  padding: 20px;
}

.signature {
  position: absolute;
  right: 50px;
  bottom: 15px;
}